/target
/logs
/*.local.properties

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# Mongo Explorer plugin:
.idea/mongoSettings.xml

.idea/dictionaries

.idea/copyright/profiles_settings.xml
.idea/compiler.xml
.idea/scala_compiler.xml
.idea/codeStyleSettings.xml

#looks like nothing useful
.idea/vcs.xml
.idea/misc.xml
/attendance_daemon.info/target/
/build-number.txt
/_dist